<div class="entradas">
    <h3>Entradas:</h3>
    <label for="motivoEntrada">Quem te paga? <input type="text" id="motivoEntrada" placeholder="Digite o nome aqui"></label>
    <br>
    <label for="valorEntrada">Quanto você recebe?<input type="number" id="valorEntrada" placeholder="Digite o valor aqui"></label>
    <br>
    <button>Adicionar</button>
  
    <table>
      <tr>
        <th>Motivo</th>
        <th>Valor Recebido</th>
      </tr>
      <tr>
        <td>NTT Data</td>
        <td>R$2.000,00</td>
      </tr>
    </table>
    <p>Total = R${{totalEntrada}}</p>
</div>