<div class="saidas">
    <h3>Saídas:</h3>
    <label for="motivoSaida">Para onde vai? <input type="text" id="motivoSaida" placeholder="Digite o nome aqui"></label>
    <br>
    <label for="valorSaida">Quanto você paga?<input type="number" id="valorSaida" placeholder="Digite o valor aqui"></label>
    <br>
    <button>Adicionar</button>
  
    <table>
      <tr>
        <th>Motivo</th>
        <th>Valor Pago</th>
      </tr>
      <tr>
        <td>Compras do mês</td>
        <td>R$900,00</td>
      </tr>
    </table>
    <p>Restante = R${{restante}}</p>
  </div>