<header>
  <img src="" alt="logo">
  <h1>Controle seu dinheiro planejando seu gasto mensal!</h1>
</header>
<div class="tutorial">
  <h2>Como funciona?</h2>
  <p>Primeiramente você insere todas as suas fontes de renda (entradas), veja na imagem abaixo:</p>
  <img src="" alt="printEntrada">
  <p>Depois de inserir todas as suas fontes de renda, você precisa inserir todos os seus gastos (saídas), faça como na imagem abaixo:</p>
  <img src="" alt="printSaida">
  <h3>Veja o video abaixo para entender melhor:</h3>
  <video src=""></video>
</div>
<div class="entradas">
  <h3>Entradas:</h3>
  <label for="motivoEntrada">Quem te paga? <input type="text" id="motivoEntrada" placeholder="Digite o nome aqui"></label>
  <label for="valorEntrada">Quanto você recebe?<input type="number" id="valorEntrada" placeholder="Digite o valor aqui"></label>
  <button>Adicionar</button>

  <table>
    <tr>
      <th>Motivo</th>
      <th>Valor Recebido</th>
    </tr>
    <tr>
      <td>NTT Data</td>
      <td>R$2.000,00</td>
    </tr>
  </table>
</div>

<br><br>

<div class="saidas">
  <h3>Saídas:</h3>
  <label for="motivoSaida">Para onde vai? <input type="text" id="motivoSaida" placeholder="Digite o nome aqui"></label>
  <label for="valorSaida">Quanto você paga?<input type="number" id="valorSaida" placeholder="Digite o valor aqui"></label>
  <button>Adicionar</button>

  <table>
    <tr>
      <th>Motivo</th>
      <th>Valor Pago</th>
    </tr>
    <tr>
      <td>Compras do mês</td>
      <td>R$900,00</td>
    </tr>
  </table>
</div>